#CONEXION A BD en memoria (H2)
spring:
  datasource:
    url: jdbc:h2:mem:personasdb;DB_CLOSE_DELAY=-1;MODE=LEGACY
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console #localhost:8080/h2-console


#BD tendra 1 tabla -> 5 clumnas
#nombre,apellidos, curp, edad
